
.modal-cover {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.progress-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}


a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'NotoSansKR';
    /*src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');*/
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    /*src: url('../fonts/NotoSansKR-Bold.otf') format('opentype');*/
    font-weight: 500;
    font-style: normal;
}